Button {
    -fx-background-color: #2b3f5b;
    -fx-text-fill: #028f9d;
    -fx-font-size: 25;
}

Button:hover {
    -fx-background-color: #344b6b;
    -fx-text-fill: #8dc7cf;
}

#lineGraph:hover {
    -fx-background-color: #006b00;
    -fx-text-fill: #7bbe6e;
}

#del:hover,
#c:hover,
#ce:hover {
    -fx-background-color: #700000;
    -fx-text-fill: #d67a7a;
}

#multiply:hover,
#divide:hover,
#sum:hover,
#sub:hover,
#change:hover {
    -fx-background-color: #006975;
    -fx-text-fill: #020030;
}

#integral:hover{
    -fx-background-color: #480048;
    -fx-text-fill: #e500ff;
}

TextField{
    -fx-background-color: #071334;
    -fx-text-fill: #028f9d;
}

TextArea{
    -fx-background-color: #071334;
    -fx-text-fill: #028f9d;
}

AnchorPane {
    -fx-background-color: #030418;
}
